extends layout

block content
  .content
    .container-fluid
      .row
        .col-lg-8
          .card
            .header
              h4.title Candidates
              p(style={color:'crimson','font-size':'13px'}) *Published candidates are saved in the Blockchain and can't be further modified
            .content
              table.table.table-striped.table-bordered
                thead
                  tr
                    th #
                    th Name
                    th Symbol
                    th Assembly
                    th Action
                tbody
                  -var count=0
                  each item in data
                    -var img = "/img/candidate/"+item.c_symbol
                    -var fun = "App.publishCandidate("+item.c_id+",'"+item.c_name+"',"+"'"+item.c_symbol+"',"+"'"+item.assembly+"');"
                    -count=count+1
                    tr
                      td= count
                      td= item.c_name
                      td
                        img(src=img,width=60)
                      td= item.a_name
                      td
                        if item.status == 0
                          a.btn.btn-default(href="#", onclick=fun) Publish
                        else
                          span.btn.btn-success Published

  if msg
    script.
      type = ['','info','success','warning','danger'];
      function msg(from, align){
      color = #{type};
      $.notify({
      icon: "ti-bell",
      message: "#{text}"
      },{
      type: type[color],
      timer: 4000,
      placement: {
      from: from,
      align: align
      }
      });
      }
      msg('top','center');
  script(src="/js/blockchain/web3.min.js")
  script(src="/js/blockchain/truffle-contract.js")
  script(src="/js/blockchain/publish.js")
