nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      button.navbar-toggle(type='button')
        span.sr-only Toggle navigation
        span.icon-bar.bar1
        span.icon-bar.bar2
        span.icon-bar.bar3
      a.navbar-brand(href='#')=title
    .collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        li
          a(href="/logout")
            i.ti-power-off
            p Logout