extends layout

block content
  .content
    .container-fluid
      .row    
        .col-lg-8.col-md-12
          .card
            .header
              .nav-tabs-navigation
                .nav-tabs-wrapper
                  ul#tabs.nav.nav-tabs
                    li.active
                      a(href='reg_assembly') Assembly
                    li
                      a(href='reg_booth') Booth
            .content
              form(method='post')
                .row
                  .col-md-12
                    .form-group
                      label Assembly Name
                      input.form-control.border-input(required='', name='aname', type='text', placeholder='Assembly Name', value='')                                        
                .text-center
                  button.btn.btn-info.btn-fill.btn-wd(type='submit') Add
              .clearfix
      .row
        .col-lg-8
          .card
            .header
              h4.title Assembly List
            .content
              table.table.table-striped.table-bordered
                thead
                  tr
                    th #
                    th Assembly Name
                tbody
                  each item in data
                    tr
                      td= item.a_id
                      td= item.a_name

  if msg
    script.
      type = ['','info','success','warning','danger'];
      function msg(from, align){
      color = #{type};
      $.notify({
      icon: "ti-bell",
      message: "#{text}"
      },{
      type: type[color],
      timer: 4000,
      placement: {
      from: from,
      align: align
      }
      });
      }
      msg('top','center');
