extends layout

block content
  .content
    .container-fluid
      .row
        .col-lg-8
          .card
            .header
              h4.title Voters
            .content
              table.table.table-striped.table-bordered
                thead
                  tr
                    th #
                    th Aadhar
                    th Name
                    th Status
                tbody
                  each item in data
                    tr
                      td= item.id
                      td= item.aadhar
                      td= item.name
                      td
                        if item.verified == 0
                          span.btn.btn-default.btn-fill(style="cursor:default") Yet to vote
                        else
                          span.btn.btn-success.btn-fill(style="cursor:default") Voted

  if msg
    script.
      type = ['','info','success','warning','danger'];
      function msg(from, align){
      color = #{type};
      $.notify({
      icon: "ti-bell",
      message: "#{text}"
      },{
      type: type[color],
      timer: 4000,
      placement: {
      from: from,
      align: align
      }
      });
      }
      msg('top','center');
